# Node / TypeScript / JavaScript
node_modules/
dist/
*.log
*.tsbuildinfo
*.tsbuildinfo.*
*.tsbuildinfo-*
*.tsbuildinfo-*.json
.pnpm-store/

# Turbo Console Log
*.turbo

# Storybook
*storybook.log
storybook-static/

# Coverage
coverage/

# tsup
tsup.config.bundled*
