@import 'tailwindcss';
@import '@novawaveui/theme';
@source '../../react/';

:root[data-theme='example'] {
  --blue-marguerite-50: oklch(96.24% 0.02 274.82);
  --blue-marguerite-100: oklch(92.93% 0.03 279.62);
  --blue-marguerite-200: oklch(86.98% 0.06 279.57);
  --blue-marguerite-300: oklch(78.33% 0.1 279.99);
  --blue-marguerite-400: oklch(67.97% 0.14 281.87);
  --blue-marguerite-500: oklch(56.33% 0.19 281.25);
  --blue-marguerite-600: oklch(53.76% 0.2 284.59);
  --blue-marguerite-700: oklch(48.04% 0.18 284.69);
  --blue-marguerite-800: oklch(41.89% 0.15 284.17);
  --blue-marguerite-900: oklch(37.64% 0.11 284.83);
  --blue-marguerite-950: oklch(27.04% 0.07 288.69);

  --coral-tree-50: oklch(97.67% 0.01 31.05);
  --coral-tree-100: oklch(95.03% 0.01 17.41);
  --coral-tree-200: oklch(90.74% 0.03 14.62);
  --coral-tree-300: oklch(83.04% 0.05 15.06);
  --coral-tree-400: oklch(73.53% 0.08 16.19);
  --coral-tree-500: oklch(63.77% 0.11 16.81);
  --coral-tree-600: oklch(59.59% 0.11 13.35);
  --coral-tree-700: oklch(47.94% 0.11 13.23);
  --coral-tree-800: oklch(42.93% 0.09 10.69);
  --coral-tree-900: oklch(39.31% 0.08 8.77);
  --coral-tree-950: oklch(25.95% 0.05 9.98);

  --accent-50: var(--blue-marguerite-50);
  --accent-100: var(--blue-marguerite-100);
  --accent-200: var(--blue-marguerite-200);
  --accent-300: var(--blue-marguerite-300);
  --accent-400: var(--blue-marguerite-400);
  --accent-500: var(--blue-marguerite-500);
  --accent-600: var(--blue-marguerite-600);
  --accent-700: var(--blue-marguerite-700);
  --accent-800: var(--blue-marguerite-800);
  --accent-900: var(--blue-marguerite-900);
  --accent-950: var(--blue-marguerite-950);
}

:root[data-theme='tailwind'] {
  --accent-50: var(--color-blue-50);
  --accent-100: var(--color-blue-100);
  --accent-200: var(--color-blue-200);
  --accent-300: var(--color-blue-300);
  --accent-400: var(--color-blue-400);
  --accent-500: var(--color-blue-500);
  --accent-600: var(--color-blue-600);
  --accent-700: var(--color-blue-700);
  --accent-800: var(--color-blue-800);
  --accent-900: var(--color-blue-900);
  --accent-950: var(--color-blue-950);

  --success-50: var(--color-emerald-50);
  --success-100: var(--color-emerald-100);
  --success-200: var(--color-emerald-200);
  --success-300: var(--color-emerald-300);
  --success-400: var(--color-emerald-400);
  --success-500: var(--color-emerald-500);
  --success-600: var(--color-emerald-600);
  --success-700: var(--color-emerald-700);
  --success-800: var(--color-emerald-800);
  --success-900: var(--color-emerald-900);
  --success-950: var(--color-emerald-950);

  --warning-50: var(--color-amber-50);
  --warning-100: var(--color-amber-100);
  --warning-200: var(--color-amber-200);
  --warning-300: var(--color-amber-300);
  --warning-400: var(--color-amber-400);
  --warning-500: var(--color-amber-500);
  --warning-600: var(--color-amber-600);
  --warning-700: var(--color-amber-700);
  --warning-800: var(--color-amber-800);
  --warning-900: var(--color-amber-900);
  --warning-950: var(--color-amber-950);

  --danger-50: var(--color-red-50);
  --danger-100: var(--color-red-100);
  --danger-200: var(--color-red-200);
  --danger-300: var(--color-red-300);
  --danger-400: var(--color-red-400);
  --danger-500: var(--color-red-500);
  --danger-600: var(--color-red-600);
  --danger-700: var(--color-red-700);
  --danger-800: var(--color-red-800);
  --danger-900: var(--color-red-900);
  --danger-950: var(--color-red-950);
}

@layer components {
  .nw-button[data-color='ocean'] {
    @apply bg-cyan-600 text-white;

    @variant hover {
      background: color-mix(in oklch, var(--color-cyan-600) 90%, black);
    }
  }
}
