@theme inline {
  /* Background and Surface */
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-surface-subtle: var(--surface-subtle);
  --color-surface-strong: var(--surface-strong);

  /* Colors */
  /* Neutral */
  --color-neutral: var(--neutral);
  --color-neutral-hover: color-mix(
    in oklch,
    var(--neutral) 10%,
    var(--neutral-contrast) 90%
  );
  --color-neutral-active: color-mix(
    in oklch,
    var(--neutral) 20%,
    var(--neutral-contrast) 80%
  );
  --color-neutral-foreground: var(--neutral-foreground);
  --color-neutral-soft: var(--neutral-soft);
  --color-neutral-soft-hover: color-mix(
    in oklch,
    var(--neutral-soft) 10%,
    var(--neutral-contrast) 90%
  );
  --color-neutral-soft-active: color-mix(
    in oklch,
    var(--neutral-soft) 20%,
    var(--neutral-contrast) 80%
  );
  --color-neutral-soft-foreground: var(--neutral-soft-foreground);

  /* Accent */
  --color-accent: var(--accent);
  --color-accent-hover: color-mix(
    in oklch,
    var(--accent) 80%,
    var(--accent-contrast) 20%
  );
  --color-accent-active: color-mix(
    in oklch,
    var(--accent) 70%,
    var(--accent-contrast) 30%
  );
  --color-accent-foreground: var(--accent-foreground);
  --color-accent-soft: var(--accent-soft);
  --color-accent-soft-hover: color-mix(
    in oklch,
    var(--accent-soft) 90%,
    var(--accent-contrast) 10%
  );
  --color-accent-soft-active: color-mix(
    in oklch,
    var(--accent-soft) 80%,
    var(--accent-contrast) 20%
  );
  --color-accent-soft-foreground: var(--accent-soft-foreground);

  /* Info */
  --color-info: var(--info);
  --color-info-hover: color-mix(
    in oklch,
    var(--info) 10%,
    var(--info-contrast) 90%
  );
  --color-info-active: color-mix(
    in oklch,
    var(--info) 20%,
    var(--info-contrast) 80%
  );
  --color-info-foreground: var(--info-foreground);
  --color-info-soft: var(--info-soft);
  --color-info-soft-hover: color-mix(
    in oklch,
    var(--info-soft) 10%,
    var(--info-contrast) 90%
  );
  --color-info-soft-active: color-mix(
    in oklch,
    var(--info-soft) 20%,
    var(--info-contrast) 80%
  );
  --color-info-soft-foreground: var(--info-soft-foreground);

  /* Success */
  --color-success: var(--success);
  --color-success-hover: color-mix(
    in oklch,
    var(--success) 10%,
    var(--success-contrast) 90%
  );
  --color-success-active: color-mix(
    in oklch,
    var(--success) 20%,
    var(--success-contrast) 80%
  );
  --color-success-foreground: var(--success-foreground);
  --color-success-soft: var(--success-soft);
  --color-success-soft-hover: color-mix(
    in oklch,
    var(--success-soft) 10%,
    var(--success-contrast) 90%
  );
  --color-success-soft-active: color-mix(
    in oklch,
    var(--success-soft) 20%,
    var(--success-contrast) 80%
  );
  --color-success-soft-foreground: var(--success-soft-foreground);

  /* Warning */
  --color-warning: var(--warning);
  --color-warning-hover: color-mix(
    in oklch,
    var(--warning) 10%,
    var(--warning-contrast) 90%
  );
  --color-warning-active: color-mix(
    in oklch,
    var(--warning) 20%,
    var(--warning-contrast) 80%
  );
  --color-warning-foreground: var(--warning-foreground);
  --color-warning-soft: var(--warning-soft);
  --color-warning-soft-hover: color-mix(
    in oklch,
    var(--warning-soft) 10%,
    var(--warning-contrast) 90%
  );
  --color-warning-soft-active: color-mix(
    in oklch,
    var(--warning-soft) 20%,
    var(--warning-contrast) 80%
  );
  --color-warning-soft-foreground: var(--warning-soft-foreground);

  /* Danger */
  --color-danger: var(--danger);
  --color-danger-hover: color-mix(
    in oklch,
    var(--danger) 90%,
    var(--danger-contrast) 10%
  );
  --color-danger-active: color-mix(
    in oklch,
    var(--danger) 80%,
    var(--danger-contrast) 20%
  );
  --color-danger-foreground: var(--danger-foreground);
  --color-danger-soft: var(--danger-soft);
  --color-danger-soft-hover: color-mix(
    in oklch,
    var(--danger-soft) 90%,
    var(--danger-contrast) 10%
  );
  --color-danger-soft-active: color-mix(
    in oklch,
    var(--danger-soft) 80%,
    var(--danger-contrast) 20%
  );
  --color-danger-soft-foreground: var(--danger-soft-foreground);

  --color-background: var(--background);
  --color-default: var(--default);
  --color-default-hover: color-mix(
    in oklch,
    var(--default) 90%,
    var(--default-contrast) 10%
  );
  --color-default-foreground: var(--default-foreground);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-surface-soft: var(--surface-soft);
  --color-surface-strong: var(--surface-strong);

  /* Muted */
  --color-muted: var(--muted);

  /* Field */
  --color-field: var(--field);
  --color-field-foreground: var(--field-foreground);
  --color-field-placeholder: var(--field-placeholder);
  --color-field-border: var(--field-border);
  --color-field-border-hover: color-mix(
    in oklch,
    var(--field-border) 80%,
    var(--neutral-contrast) 20%
  );
  --color-field-border-focus: var(--field-border-focus);
  --color-field-border-error: var(--field-border-error);

  /* Focus Outline */
  --outline-color-focus-visible: var(--focus-visible-outline-color);
  --outline-width-focus-visible: var(--focus-visible-outline-width);

  /* Radius */
  --radius: var(--radius-md);
  --radius-lg: var(--radius-lg);
  --radius-full: var(--radius-full);

  /* Border Size */
  --border-width: var(--border-size-md);

  /* Opacity */
  --opacity-disabled: var(--opacity-disabled);
}

@utility focus-outline {
  @apply z-10 outline-solid outline-(length:--focus-visible-outline-width) outline-(color:--focus-visible-outline-color) outline-offset-2;
}
