:root {
  /* Cool Gray */
  --cool-gray-50: oklch(97.74% 0.0042 236.5);
  --cool-gray-100: oklch(92.18% 0.0094 242.84);
  --cool-gray-200: oklch(84.26% 0.0174 242.47);
  --cool-gray-300: oklch(76.13% 0.0276 242.86);
  --cool-gray-400: oklch(67.63% 0.0369 245.69);
  --cool-gray-500: oklch(59.12% 0.0483 245.57);
  --cool-gray-600: oklch(50.4% 0.0395 245.99);
  --cool-gray-700: oklch(41.51% 0.0318 243.45);
  --cool-gray-800: oklch(31.87% 0.0219 243.15);
  --cool-gray-900: oklch(21.39% 0.0134 243.56);
  --cool-gray-950: oklch(15.66% 0.0065 237.09);

  /* Neutral */
  --neutral-50: var(--cool-gray-50);
  --neutral-100: var(--cool-gray-100);
  --neutral-200: var(--cool-gray-200);
  --neutral-300: var(--cool-gray-300);
  --neutral-400: var(--cool-gray-400);
  --neutral-500: var(--cool-gray-500);
  --neutral-600: var(--cool-gray-600);
  --neutral-700: var(--cool-gray-700);
  --neutral-800: var(--cool-gray-800);
  --neutral-900: var(--cool-gray-900);
  --neutral-950: var(--cool-gray-950);
  --neutral: var(--neutral-500);

  /* Science Blue */
  --science-blue-50: oklch(97.36% 0.0113 252.09);
  --science-blue-100: oklch(94.07% 0.0225 260.72);
  --science-blue-200: oklch(87.65% 0.0496 253.09);
  --science-blue-300: oklch(77.66% 0.0946 250.51);
  --science-blue-400: oklch(66.6% 0.1412 250.77);
  --science-blue-500: oklch(57.94% 0.1599 252.97);
  --science-blue-600: oklch(51.34% 0.1603 255.67);
  --science-blue-700: oklch(42.25% 0.1307 256.19);
  --science-blue-800: oklch(38.03% 0.1078 255.12);
  --science-blue-900: oklch(34.37% 0.0875 255.19);
  --science-blue-950: oklch(26.12% 0.0647 257.4);

  /* Primary */
  --primary-50: var(--science-blue-50);
  --primary-100: var(--science-blue-100);
  --primary-200: var(--science-blue-200);
  --primary-300: var(--science-blue-300);
  --primary-400: var(--science-blue-400);
  --primary-500: var(--science-blue-500);
  --primary-600: var(--science-blue-600);
  --primary-700: var(--science-blue-700);
  --primary-800: var(--science-blue-800);
  --primary-900: var(--science-blue-900);
  --primary-950: var(--science-blue-950);
  --primary: var(--primary-500);

  /* Fuchsia Blue */
  --fuchsia-blue-50: oklch(98% 0.01 308.33);
  --fuchsia-blue-100: oklch(95% 0.02 304.49);
  --fuchsia-blue-200: oklch(91% 0.05 303.9);
  --fuchsia-blue-300: oklch(84% 0.08 304.23);
  --fuchsia-blue-400: oklch(74% 0.13 304.28);
  --fuchsia-blue-500: oklch(64% 0.18 303.19);
  --fuchsia-blue-600: oklch(55% 0.2 301.83);
  --fuchsia-blue-700: oklch(49% 0.19 302.16);
  --fuchsia-blue-800: oklch(44% 0.16 303.07);
  --fuchsia-blue-900: oklch(38% 0.13 303.96);
  --fuchsia-blue-950: oklch(28% 0.12 302.31);

  /* Secondary */
  --secondary-50: var(--fuchsia-blue-50);
  --secondary-100: var(--fuchsia-blue-100);
  --secondary-200: var(--fuchsia-blue-200);
  --secondary-300: var(--fuchsia-blue-300);
  --secondary-400: var(--fuchsia-blue-400);
  --secondary-500: var(--fuchsia-blue-500);
  --secondary-600: var(--fuchsia-blue-600);
  --secondary-700: var(--fuchsia-blue-700);
  --secondary-800: var(--fuchsia-blue-800);
  --secondary-900: var(--fuchsia-blue-900);
  --secondary-950: var(--fuchsia-blue-950);
  --secondary: var(--secondary-500);

  /* Aqua Forest */
  --aqua-forest-50: oklch(97.22% 0.0108 149.86);
  --aqua-forest-100: oklch(93.29% 0.0323 145.31);
  --aqua-forest-200: oklch(86.73% 0.0565 146.66);
  --aqua-forest-300: oklch(77.4% 0.0854 148.17);
  --aqua-forest-400: oklch(67.83% 0.107 148.29);
  --aqua-forest-500: oklch(57% 0.118 148.18);
  --aqua-forest-600: oklch(48.02% 0.1013 148.62);
  --aqua-forest-700: oklch(41.14% 0.0831 149.32);
  --aqua-forest-800: oklch(35.68% 0.0671 150.15);
  --aqua-forest-900: oklch(31.64% 0.0573 150.16);
  --aqua-forest-950: oklch(22.36% 0.0337 153.63);

  /* Success */
  --success-50: var(--aqua-forest-50);
  --success-100: var(--aqua-forest-100);
  --success-200: var(--aqua-forest-200);
  --success-300: var(--aqua-forest-300);
  --success-400: var(--aqua-forest-400);
  --success-500: var(--aqua-forest-500);
  --success-600: var(--aqua-forest-600);
  --success-700: var(--aqua-forest-700);
  --success-800: var(--aqua-forest-800);
  --success-900: var(--aqua-forest-900);
  --success-950: var(--aqua-forest-950);
  --success: var(--success-500);

  /* Brandy pucnh (a yellow/orange) */
  --brandy-punch-50: oklch(97.9% 0.0123 91.52);
  --brandy-punch-100: oklch(93.58% 0.0323 87.29);
  --brandy-punch-200: oklch(86.51% 0.0678 85.3);
  --brandy-punch-300: oklch(78.87% 0.0979 81.47);
  --brandy-punch-400: oklch(73.07% 0.1157 75.39);
  --brandy-punch-500: oklch(66.09% 0.1237 63.17);
  --brandy-punch-600: oklch(58.01% 0.1186 52.78);
  --brandy-punch-700: oklch(49.35% 0.1083 43.22);
  --brandy-punch-800: oklch(42.99% 0.0913 39.46);
  --brandy-punch-900: oklch(38.09% 0.0754 38.74);
  --brandy-punch-950: oklch(25.6% 0.0521 37.04);

  /* Warning */
  --warning-50: var(--brandy-punch-50);
  --warning-100: var(--brandy-punch-100);
  --warning-200: var(--brandy-punch-200);
  --warning-300: var(--brandy-punch-300);
  --warning-400: var(--brandy-punch-400);
  --warning-500: var(--brandy-punch-500);
  --warning-600: var(--brandy-punch-600);
  --warning-700: var(--brandy-punch-700);
  --warning-800: var(--brandy-punch-800);
  --warning-900: var(--brandy-punch-900);
  --warning-950: var(--brandy-punch-950);
  --warning: var(--warning-500);

  /* Cardinal Red */
  --cardinal-red-50: oklch(97.39% 0.0098 25.07);
  --cardinal-red-100: oklch(94.48% 0.023 17.57);
  --cardinal-red-200: oklch(89.83% 0.0416 16.11);
  --cardinal-red-300: oklch(81.65% 0.0812 16.11);
  --cardinal-red-400: oklch(72.11% 0.1303 17.87);
  --cardinal-red-500: oklch(63.27% 0.1733 18.94);
  --cardinal-red-600: oklch(55.99% 0.1855 18.91);
  --cardinal-red-700: oklch(52.37% 0.1799 18.24);
  --cardinal-red-800: oklch(43.42% 0.1417 15.57);
  --cardinal-red-900: oklch(39.53% 0.1226 12.37);
  --cardinal-red-950: oklch(26.16% 0.0833 13.7);

  /* Danger */
  --danger-50: var(--cardinal-red-50);
  --danger-100: var(--cardinal-red-100);
  --danger-200: var(--cardinal-red-200);
  --danger-300: var(--cardinal-red-300);
  --danger-400: var(--cardinal-red-400);
  --danger-500: var(--cardinal-red-500);
  --danger-600: var(--cardinal-red-600);
  --danger-700: var(--cardinal-red-700);
  --danger-800: var(--cardinal-red-800);
  --danger-900: var(--cardinal-red-900);
  --danger-950: var(--cardinal-red-950);
  --danger: var(--danger-500);

  /* Radius */
  --radius-none: 0;
  --radius-small: 0.125rem;
  --radius-medium: 0.25rem;
  --radius-large: 0.5rem;
  --radius-xlarge: 1rem;
  --radius-full: 9999px;

  /* Border Size */
  --border-size-none: 0;
  --border-size-small: 1px;
  --border-size-medium: 2px;
  --border-size-large: 4px;

  /* Typography */
  --font-size-tiny: 0.75rem;
  --font-size-small: 0.875rem;
  --font-size-base: 1rem;
  --font-size-large: 1.25rem;
  --font-size-xlarge: 1.5rem;

  --font-line-height-tiny: 1rem;
  --font-line-height-small: 1.25rem;
  --font-line-height-base: 1.5rem;
  --font-line-height-large: 1.75rem;
  --font-line-height-xlarge: 2rem;

  /* Opacity */
  --opacity-hover: 0.8;
  --opacity-disabled: 0.8;

  /* Default (Light Mode) */
  --neutral-background: var(--neutral-600);
  --neutral-foreground: var(--neutral-50);
  --primary-background: var(--primary-700);
  --primary-foreground: var(--primary-50);
  --secondary-background: var(--secondary-600);
  --secondary-foreground: var(--secondary-50);
  --success-background: var(--success-600);
  --success-foreground: var(--success-50);
  --warning-background: var(--warning-700);
  --warning-foreground: var(--warning-50);
  --danger-background: var(--danger-700);
  --danger-foreground: var(--danger-50);

  /* Border */
  --border-neutral: var(--neutral-600);
  --border-primary: var(--primary-700);
  --border-secondary: var(--secondary-600);
  --border-success: var(--success-600);
  --border-warning: var(--warning-700);

  /* Text */
  --text-default: var(--neutral-900);
  --text-subtle: var(--neutral-700);
  --text-disabled: var(--neutral-500);
  --text-inverse: var(--neutral-100);
  --text-link: var(--primary-500);
  --text-link-visited: var(--primary-700);
  --text-link-disabled: var(--neutral-500);
  --text-neutral: var(--neutral-800);
  --text-on-neutral: var(--neutral-50);
  --text-primary: var(--primary-800);
  --text-on-primary: var(--primary-50);
  --text-secondary: var(--secondary-800);
  --text-on-secondary: var(--secondary-50);
  --text-success: var(--success-800);
  --text-on-success: var(--success-50);
  --text-warning: var(--warning-800);
  --text-on-warning: var(--warning-50);
  --text-danger: var(--danger-800);
  --text-on-danger: var(--danger-50);

  --state-hover: color-mix(in oklch, currentColor 90%, black);
  --state-active: color-mix(in oklch, currentColor 80%, black);
}

:root[data-mode='dark'] {
  --neutral-background: var(--neutral-300);
  --neutral-foreground: var(--neutral-950);
  --primary-background: var(--primary-300);
  --primary-foreground: var(--primary-950);
  --secondary-background: var(--secondary-300);
  --secondary-foreground: var(--secondary-950);
  --success-background: var(--success-300);
  --success-foreground: var(--success-950);
  --warning-background: var(--warning-300);
  --warning-foreground: var(--warning-950);
  --danger-background: var(--danger-300);
  --danger-foreground: var(--danger-950);

  /* Border */
  --border-neutral: var(--neutral-300);
  --border-primary: var(--primary-300);
  --border-secondary: var(--secondary-300);
  --border-success: var(--success-400);
  --border-warning: var(--warning-300);
  --border-danger: var(--danger-300);

  /* Text */
  --text-default: var(--neutral-100);
  --text-disabled: var(--neutral-500);
  --text-inverse: var(--neutral-900);
  --text-link: var(--primary-500);
  --text-link-visited: var(--primary-300);
  --text-link-disabled: var(--neutral-500);
  --text-neutral: var(--neutral-200);
  --text-on-neutral: var(--neutral-950);
  --text-primary: var(--primary-200);
  --text-on-primary: var(--primary-950);
  --text-secondary: var(--secondary-200);
  --text-on-secondary: var(--secondary-950);
  --text-success: var(--success-200);
  --text-on-success: var(--success-950);
  --text-warning: var(--warning-200);
  --text-on-warning: var(--warning-950);
  --text-danger: var(--danger-200);
  --text-on-danger: var(--danger-950);

  --state-hover: color-mix(in oklch, currentColor 90%, white);
  --state-active: color-mix(in oklch, currentColor 80%, white);
}

@theme inline {
  /* These add the normal shades to stuff like text, background, border, and so on */
  /* We will make specific variables for text, background, border, and so on */
  --color-neutral-50: var(--neutral-50);
  --color-neutral-100: var(--neutral-100);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-400: var(--neutral-400);
  --color-neutral-500: var(--neutral-500);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-900: var(--neutral-900);
  --color-neutral-950: var(--neutral-950);
  --color-neutral-background: var(--neutral-background);
  --color-neutral-foreground: var(--neutral-foreground);

  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);
  --color-primary-background: var(--primary-background);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);
  --color-secondary-950: var(--secondary-950);
  --color-secondary-background: var(--secondary-background);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-success-50: var(--success-50);
  --color-success-100: var(--success-100);
  --color-success-200: var(--success-200);
  --color-success-300: var(--success-300);
  --color-success-400: var(--success-400);
  --color-success-500: var(--success-500);
  --color-success-600: var(--success-600);
  --color-success-700: var(--success-700);
  --color-success-800: var(--success-800);
  --color-success-900: var(--success-900);
  --color-success-950: var(--success-950);
  --color-success-background: var(--success-background);
  --color-success-foreground: var(--success-foreground);

  --color-warning-50: var(--warning-50);
  --color-warning-100: var(--warning-100);
  --color-warning-200: var(--warning-200);
  --color-warning-300: var(--warning-300);
  --color-warning-400: var(--warning-400);
  --color-warning-500: var(--warning-500);
  --color-warning-600: var(--warning-600);
  --color-warning-700: var(--warning-700);
  --color-warning-800: var(--warning-800);
  --color-warning-900: var(--warning-900);
  --color-warning-950: var(--warning-950);
  --color-warning-background: var(--warning-background);
  --color-warning-foreground: var(--warning-foreground);

  --color-danger-50: var(--danger-50);
  --color-danger-100: var(--danger-100);
  --color-danger-200: var(--danger-200);
  --color-danger-300: var(--danger-300);
  --color-danger-400: var(--danger-400);
  --color-danger-500: var(--danger-500);
  --color-danger-600: var(--danger-600);
  --color-danger-700: var(--danger-700);
  --color-danger-800: var(--danger-800);
  --color-danger-900: var(--danger-900);
  --color-danger-950: var(--danger-950);
  --color-danger-background: var(--danger-background);
  --color-danger-foreground: var(--danger-foreground);

  --color-background-default: var(--neutral-background);

  --color-hover: var(--state-hover);
  --color-active: var(--state-active);

  /* Border */
  --border-color-neutral: var(--border-neutral);
  --border-color-neutral-hover: var(--border-neutral-hover);
  --border-color-neutral-active: var(--border-neutral-active);
  --border-color-neutral-subtle: var(--border-neutral-subtle);
  --border-color-neutral-subtle-hover: var(--border-neutral-subtle-hover);
  --border-color-neutral-subtle-active: var(--border-neutral-subtle-active);
  --border-color-neutral-emphasized: var(--border-neutral-emphasized);
  --border-color-neutral-emphasized-hover: var(
    --border-neutral-emphasized-hover
  );
  --border-color-neutral-emphasized-active: var(
    --border-neutral-emphasized-active
  );
  --border-color-primary: var(--border-primary);
  --border-color-primary-hover: var(--border-primary-hover);
  --border-color-primary-active: var(--border-primary-active);
  --border-color-primary-subtle: var(--border-primary-subtle);
  --border-color-primary-subtle-hover: var(--border-primary-subtle-hover);
  --border-color-primary-subtle-active: var(--border-primary-subtle-active);
  --border-color-primary-emphasized: var(--border-primary-emphasized);
  --border-color-primary-emphasized-hover: var(
    --border-primary-emphasized-hover
  );
  --border-color-primary-emphasized-active: var(
    --border-primary-emphasized-active
  );
  --border-color-secondary: var(--border-secondary);
  --border-color-secondary-hover: var(--border-secondary-hover);
  --border-color-secondary-active: var(--border-secondary-active);
  --border-color-secondary-subtle: var(--border-secondary-subtle);
  --border-color-secondary-subtle-hover: var(--border-secondary-subtle-hover);
  --border-color-secondary-subtle-active: var(--border-secondary-subtle-active);
  --border-color-secondary-emphasized: var(--border-secondary-emphasized);
  --border-color-secondary-emphasized-hover: var(
    --border-secondary-emphasized-hover
  );
  --border-color-secondary-emphasized-active: var(
    --border-secondary-emphasized-active
  );
  --border-color-success: var(--border-success);
  --border-color-success-hover: var(--border-success-hover);
  --border-color-success-active: var(--border-success-active);
  --border-color-success-subtle: var(--border-success-subtle);
  --border-color-success-subtle-hover: var(--border-success-subtle-hover);
  --border-color-success-subtle-active: var(--border-success-subtle-active);
  --border-color-success-emphasized: var(--border-success-emphasized);
  --border-color-success-emphasized-hover: var(
    --border-success-emphasized-hover
  );
  --border-color-success-emphasized-active: var(
    --border-success-emphasized-active
  );
  --border-color-warning: var(--border-warning);
  --border-color-warning-hover: var(--border-warning-hover);
  --border-color-warning-active: var(--border-warning-active);
  --border-color-warning-subtle: var(--border-warning-subtle);
  --border-color-warning-subtle-hover: var(--border-warning-subtle-hover);
  --border-color-warning-subtle-active: var(--border-warning-subtle-active);
  --border-color-warning-emphasized: var(--border-warning-emphasized);
  --border-color-warning-emphasized-hover: var(
    --border-warning-emphasized-hover
  );
  --border-color-warning-emphasized-active: var(
    --border-warning-emphasized-active
  );
  --border-color-danger: var(--border-danger);
  --border-color-danger-hover: var(--border-danger-hover);
  --border-color-danger-active: var(--border-danger-active);
  --border-color-danger-subtle: var(--border-danger-subtle);
  --border-color-danger-subtle-hover: var(--border-danger-subtle-hover);
  --border-color-danger-subtle-active: var(--border-danger-subtle-active);
  --border-color-danger-emphasized: var(--border-danger-emphasized);
  --border-color-danger-emphasized-hover: var(--border-danger-emphasized-hover);
  --border-color-danger-emphasized-active: var(
    --border-danger-emphasized-active
  );

  /* Text */
  --text-color-default: var(--text-default);
  --text-color-disabled: var(--text-disabled);
  --text-color-inverse: var(--text-inverse);
  --text-color-link: var(--text-link);
  --text-color-link-visited: var(--text-link-visited);
  --text-color-link-disabled: var(--text-link-disabled);
  --text-color-neutral: var(--text-neutral);
  --text-color-on-neutral: var(--text-on-neutral);
  --text-color-primary: var(--text-primary);
  --text-color-on-primary: var(--text-on-primary);
  --text-color-secondary: var(--text-secondary);
  --text-color-on-secondary: var(--text-on-secondary);
  --text-color-success: var(--text-success);
  --text-color-warning: var(--text-warning);
  --text-color-on-warning: var(--text-on-warning);
  --text-color-danger: var(--text-danger);
  --text-color-on-danger: var(--text-on-danger);

  /* Radius */
  --radius-none: var(--radius-none);
  --radius-small: var(--radius-small);
  --radius-medium: var(--radius-medium);
  --radius-large: var(--radius-large);
  --radius-xlarge: var(--radius-xlarge);
  --radius-full: var(--radius-full);

  /* Border Size */
  --border-size-none: var(--border-size-none);
  --border-size-small: var(--border-size-small);
  --border-size-medium: var(--border-size-medium);
  --border-size-large: var(--border-size-large);

  /* Typography */
  --text-tiny: var(--font-size-tiny);
  --text-tiny--line-height: var(--font-line-height-tiny);
  --text-small: var(--font-size-small);
  --text-small--line-height: var(--font-line-height-small);
  --text-base: var(--font-size-base);
  --text-base--line-height: var(--font-line-height-base);
  --text-large: var(--font-size-large);
  --text-large--line-height: var(--font-line-height-large);
  --text-xlarge: var(--font-size-xlarge);
  --text-xlarge--line-height: var(--font-line-height-xlarge);

  /* Opacity */
  --opacity-hover: var(--opacity-hover);
  --opacity-disabled: var(--opacity-disabled);
}

/* Custom short-hand data variants */
@custom-variant data-hover (&[data-hover="true"]);
@custom-variant data-pressed (&[data-pressed="true"]);
