@layer components {
  [data-component='textarea'] {
    @apply bg-field text-field-foreground placeholder:placeholder-field rounded border-2 px-3 py-2 text-sm outline-none;
    @apply border-field-border disabled:opacity-disabled;
    @apply transition-colors duration-150 ease-in-out;

    &:hover,
    &[data-hovered='true'] {
      @apply border-field-border-hover;
    }

    &:focus,
    &[data-focus-visible='true'] {
      @apply border-field-border-focus;
    }
  }
}
